* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 4rem;
}

.slider {
  width: 600px;
  height: 300px;

  overflow-x: hidden;
  border: 2px solid #000;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.slide {
  background: orange;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.35s ease-in-out;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* --- How we think is we are working on the absolute positioning to each slide --- */

/* .slide:nth-child(1) {
  left: 0;
}

.slide:nth-child(2) {
  left: 100%;
}

.slide:nth-child(3) {
  left: 200%;
}

.slide:nth-child(4) {
  left: 300%;
} */
